BODY {
  font-family: sans;font-size: 14px;
  margin-right: 10px; margin-left: 10px;
  margin-top: 5px; background-color: #f0f1f2
}
A{
  text-decoration: none; font-family: sans;
  color: #000080; font-weight: normal;font-size:14px;
}
TT{color:#400030; font-size: 14px}
pre {
  background-color: rgb(245, 245, 248);
  border: 1px solid rgb(110,130,150);
  padding: 4px; border-radius: 10px;
  font-size:12px;
}

TABLE.main {
  border-collapse : collapse;
  border : 0px;
  width : 100%;
}
TABLE.submenu {
  border-collapse : collapse;
  border : 1px solid rgb(110,130,150);
  background-color : rgb(250, 250, 250);
  width : 100%;
}
TABLE.white {
  border-collapse : collapse;
  border : 1px solid rgb(110,130,150);
  background-color : rgb(250, 250, 250);
}
TABLE.home {
  border-collapse : collapse;
  border : 1px solid rgb(110,130,150);
  background-color : rgb(240, 240, 240);
}
TABLE.buys {
  border-collapse : collapse;
  border : 1px solid rgb(110,130,150);
  background-color : rgb(250, 245, 240);
}
TABLE.sells {
  border-collapse : collapse;
  border : 1px solid rgb(110,130,150);
  background-color : rgb(240, 245, 250);
}
TABLE.border {border: 1px solid rgb(110,130,150);}

TD {
  font-family: sans;font-size: 14px;
  padding-right: 2px; padding-left: 2px;
}

TD.border {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(110,130,150);
}

TD.header {
  border: 1px solid rgb(110,130,150);
  background-color: rgb(220, 220, 220);
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

TD.entry {
  white-space: nowrap;
  text-align: left;
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(110,130,150);
}

TD.entry2 {
  white-space: nowrap;
  text-align: right;
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(110,130,150);
  padding-left: 20px;
}

TD.number {
  width: 80px;
  text-align: right;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(110,130,150);
}

TD.number2 {
  width: 50px;
  text-align: right;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(110,130,150);
}

TD.fnumber {
  border: 1px solid rgb(110,130,150);
  background-color: rgb(250, 250, 250);
  text-align: right;
  padding-left: 4px;
  padding-right: 4px;
}

TD.separator {
  border-right: 1px solid rgb(110,130,150);
  border-left: 1px solid rgb(110,130,150);
}

TD.rlabel {
  white-space: nowrap;
  width: 100px;
  text-align: right;
  padding-right: 2px;
}

TD.header {
  border: 1px solid rgb(110,130,150);
  background-color: rgb(220, 220, 220);
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

TD.menu {
  border: 1px solid rgb(110,130,150);
  background-color: rgb(250, 250, 250);
  padding-left: 4px;
  padding-right: 4px;
}

TD.param {
  border: 1px solid rgb(110,130,150);
  background-color: rgb(240, 245, 250);
  text-align: right;
  padding-left: 4px;
  padding-right: 4px;
}

TD.chartLeft {
  text-align: left;
  border-right: 1px solid rgb(110,130,150);
  border-left: 1px solid rgb(110,130,150);
  border-top: 1px solid rgb(110,130,150);
  padding-left: 4px;
  padding-right: 4px;
  background-color:#f9f9f9;
}

TD.chartRight {
  text-align: right;
  border-right: 1px solid rgb(110,130,150);
  border-left: 1px solid rgb(110,130,150);
  border-top: 1px solid rgb(110,130,150);
  padding-left: 4px;
  padding-right: 4px;
  background-color:#f9f9f9;
}

TD.nick {
  text-align: left;
  width: 50px;
}

TD.logE {
  text-align: left;
  background: #e9d9d9;
  vertical-align: top;
}

TD.logI {
  text-align: left;
  background: #d9d9e9;
  vertical-align: top;
}

DIV.header {
  padding-top:15px;
  padding-bottom:2px;
  text-align: center;
  font-size:large;
  color:#003050;
}

DIV.separator {
  height:15px;
}

DIV.enabled {
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
  background: #ffffff;
  color: #000000;
}

DIV.disabled {
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
  background: #f1f1f1;
  color: #909090;
}

DIV.log {
  border: 1px solid rgb(110,130,150);
  background-color: rgb(250, 250, 250);
  width: 600px;
  height: 400px;
  overflow: auto;
}

BUTTON {
  width:150px;
}

.link{
  text-decoration: none; font-family: sans;
  color: #000080; font-weight: normal;font-size:14px;
}
.linkBold{
  text-decoration: none; font-family: sans;
  color: #000080; font-weight: bold;font-size:14px;
}
.frame {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}
.frame0 {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}
.frame2 {
  background-color: rgb(250, 250, 230);
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}
.frame3 {
  background-color: rgb(240, 245, 250);
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}
.frame4 {
  background-color: rgb(250, 245, 240);
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}
.GrFrame {
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}

#hlist {
  max-height:0;
  overflow:hidden;
  transition:0.5s linear;
}
a:focus + #hlist {
  max-height:15em;
}
