BODY {
  font-family: sans; font-size: 14px;
  margin-right: 10px; margin-left: 10px;
  margin-top: 5px; background-color: #f0f1f2
}
A{
  text-decoration: none; font-family: sans;
  color: #000080; font-weight: normal;font-size:14px;
}
TABLE.main {
	border-collapse : collapse;
	width : 100%;
}

TABLE.border {
  border: 1px solid rgb(110,130,150);
}

TD {
  font-family: sans; font-size: 14px;
  margin-right: 5px; margin-left: 5px;
}

TD.border {
  border: 1px solid rgb(110,130,150);
}

TD.prel {
  font-family: monospace;font-size: 12px;
  background-color: rgb(215, 215, 215);color: #998866;
  border-right: solid 1px; border-left: solid 1px;
  border-top-left-radius: 10px;
  border-top:1px solid rgb(110,130,150);
  border-bottom-left-radius: 10px;
  border-bottom:1px solid rgb(110,130,150);
  padding: 4px;
  text-align: right;
}
TD.prer {
  font-family: monospace;font-size: 12px;
  background-color: rgb(245, 245, 248);
  border-right: solid 1px;
  border-top-right-radius: 10px;
  border-top:1px solid rgb(110,130,150);
  border-bottom-right-radius: 10px;
  border-bottom:1px solid rgb(110,130,150);
  padding: 4px;
}

DIV.head {
  padding-top:15px;
  padding-bottom:2px;
  text-align: center;
  font-weight:bold;
  color:#004060;
}

DIV.separator {
  height:15px;
}

BUTTON {
  width: 100px
}

H1 {
    font-size:18px;
}
H2 {
  font-size:15px;
}
H3 {
  font-size:14px;
  font-weight:normal;
}
H4 {
  font-size:13px;
}
H5 {
  font-size:12px;
}
H6 {
  font-size:11px;
}

.link{
  text-decoration: none; font-family: sans;
  color: #000080; font-weight: normal;font-size:14px;
}

.frame {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(110,130,150);
  padding: 4px;border-radius: 4px;
}
.frame0 {
  border: 1px solid rgb(110,130,150);
  padding: 4px;border-radius: 4px;
}
.frame2 {
  background-color: rgb(250, 250, 230);
  border: 1px solid rgb(110,130,150);
  padding: 4px;border-radius: 4px;
}
.frame3 {
  background-color: rgb(240, 245, 250);
  border: 1px solid rgb(110,130,150);
  padding: 4px;border-radius: 4px;
}

.link{
  text-decoration: none; font-family: sans;
  color: #000080; font-weight: normal;font-size:14px;
}



